---
import { Image } from 'astro:assets';
import img_1 from '../../img/homepage/000054700001.jpg';
import img_2 from '../../img/homepage/000054700002.jpg';
import img_3 from '../../img/homepage/000054700003.jpg';
---

<section class="homepage-images">
  <div class="grid grid-cols-2 relative">
    <Image src={img_1} alt='' class='h-[800px] md:h-[1000px] w-full object-cover object-center' />
    <Image src={img_2} alt='' class='h-[800px] md:h-[1000px] w-full object-cover object-center' />

    <div class="absolute top-0 left-0 w-full h-full flex flex-col gap-2 justify-center items-center p-4">
      <a href="/products/01" class="hover:opacity-75 hover:underline text-light">
      <h2 class="text-4xl italic font-bold font-mono">01 - OUT NOW</h2>
      </a>
      <div class="flex items-center flex-col gap-2">
        <a href="/products" class="w-fit text-light font-mono hover:opacity-75 hover:underline">
          <div class="border-light border px-4 py-1">
            PRODUCTS
          </div>
        </a>
        <a href="/products/01" class="w-fit text-light font-mono hover:opacity-75 hover:underline">
          <div class="border-light border px-4 py-1">
            01
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
