@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --light: #f3f3f3;
    --dark: #2b2525;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-light;
  }

  main {
    @apply flex-1;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  .button {
    @apply flex items-center justify-center;
    @apply bg-dark rounded-sm;
    @apply py-2 px-8 text-base font-bold text-light;
    @apply transition hover:opacity-65;
    @apply focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1;
    @apply disabled:cursor-not-allowed disabled:opacity-60;
  }

  .link {
    @apply text-dark hover:underline hover:opacity-75 w-fit;
  }
}
