---
export interface Props {
  variants: Array<object>;
}
const { variants } = Astro.props as Props;
---

<div class="variant-select flex gap-4 flex-wrap">
  {
    variants.map( ( variant, index )=> {
      if ( index == 0 ) {
        return (
          <div id=`variant-${index}` class="active p-4 border border-dark font-mono text-xs select-none hover:opacity-75 hover:cursor-pointer [&.active]:bg-dark [&.active]:text-light [&.active]:cursor-default [&.active]:opacity-100">
            { variant?.title }
          </div>
        );
      }

      return (
        <div id=`variant-${index}`class="p-4 border border-dark font-mono text-xs select-none hover:opacity-75 hover:cursor-pointer [&.active]:bg-dark [&.active]:text-light [&.active]:cursor-default [&.active]:opacity-100">
          { variant?.title }
        </div>
      );
    })
  }
</div>

<script>
  const formVariants = document.querySelectorAll('form.form-variants');
  const variants     = document.querySelectorAll('div.variant-select div');

  variants.forEach( (variant) => {
    if ( !variant ) return;

    variant.addEventListener('click', () => {
      variants.forEach( (target) => {
        target.classList.remove('active');
      });

      formVariants.forEach( (target) => {
        target.classList.remove('active');

        if (target.getAttribute('id') == variant.id) {
          target.classList.add('active');
        }
      });

      variant.classList.add('active');
    });
  });

</script>
