---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Manufacturing";
---

<BaseLayout title={title} description="What our Manufacturing looks like">
  <section class="container text-dark py-64 flex flex-col gap-24">
    <div class="items flex flex-col">
      <h1>Manufacturing</h1>
      <p>
        We build everything in house by hand in our Chicago studio. This gives us the most amount of flexibility and control in our manufacturing. We focus on quality construction with quality materials.
      </p>
    </div>

  </section>
</BaseLayout>

<style>
  h1 {
    @apply italic font-sans font-bold text-dark text-4xl;
  }

  .items p {
    @apply text-dark font-sans;
  }

  a {
    @apply font-bold underline hover:opacity-75;
  }

  ul {
    @apply font-bold;
  }

  ul ul {
    @apply ml-6 font-normal list-inside;
  }
</style>
