---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Warranty";
---

<BaseLayout title={title} description="Provisions Warranty">
  <section class="container text-dark py-64 flex flex-col gap-24">
    <div class="items flex flex-col">
      <h1>Provisions Warnranty</h1>
      <p>We stand by our products. That's why we offer a lifetime warranty on every garment. We like to see people wear our products and we'd like to keep it that way.</p>
      <p>If your garment ever fails please reach out to us at <a href="mailto:info@provisions.supply">info@provisions.supply</a> and we will try to make it right.</p>
    </div>

  </section>
</BaseLayout>

<style>
  h1 {
    @apply italic font-sans font-bold text-dark text-4xl;
  }

  .items p {
    @apply text-dark font-sans mb-2 last:mb-0;
  }

  a {
    @apply font-bold underline hover:opacity-75;
  }

  ul {
    @apply font-bold;
  }

  ul ul {
    @apply ml-6 font-normal list-inside;
  }
</style>
