<footer class="bg-light py-4">
  <div class="container grid grid-cols-2 gap-4 text-dark">
    <div class="flex flex-col gap-2">
      <p class="text-sm font-mono p-0">
        <span class="italic">
          Provisions
        </span>
        - brought to you by two brothers. Thanks for checking us out!
        <br>
        Chicago IL, 60611
      </p>
    </div>
    <div class="flex flex-col items-end">
      <a class="text-sm font-mono hover:opacity-75 hover:underline" href="https://www.instagram.com/provisions.supply/" target="_blank">Instagram </a>
      <a class="text-sm font-mono hover:opacity-75 hover:underline" href="mailto:info@provisions.supply">info@provisions.supply</a>
    </div>
  </div>
</footer>
