<footer class="bg-light py-4">
  <div class="container flex items-start sm:items-center justify-between gap-2 text-dark">
    <div class="flex flex-col gap-2">
      <p class="text-sm font-mono p-0">
        <span class="italic">
          Provisions
        </span>
        - Brought to you by two brothers - Chicago IL, 60611
      </p>
    </div>
    <div class="flex flex-col sm:flex-row items-end gap-2 w-fit">
      <a class="text-sm font-mono hover:opacity-75 hover:underline w-fit" href="mailto:info@provisions.supply">
        <div class="py-1 px-4 border border-dark">EMAIL</div>
      </a>
      <a class="text-sm font-mono hover:opacity-75 hover:underline w-fit" href="https://www.instagram.com/provisions.supply/" target="_blank">
        <div class="py-1 px-4 border border-dark">INSTAGRAM</div>
      </a>
    </div>
  </div>
</footer>
