---
import { z } from "zod";
import { ProductResult } from "../utils/schemas";
import ProductCard from "./ProductCard.astro";
import { Image } from 'astro:assets';
import chi from '../img/shop/chicago-sky.jpg';

const ProductsResult = z.array(ProductResult);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}
const { products } = Astro.props as Props;
---

<section class="py-12">
  <div class="container flex flex-col gap-4">
    <h1 class="font-mono italic font-bold text-dark text-2xl">ALL PRODUCTS</h1>
    <div class="grid gap-8 grid-cols-2 md:grid-cols-3">
      {products.map((product) => <ProductCard product={product} />)}
    </div>
  </div>
</section>
